<div class="character-gallery-view" [class.size-medium]="thumbnailSize === 'medium'" [class.size-small]="thumbnailSize === 'small'">
  <div
    *ngFor="let character of characters; let i = index"
    class="gallery-item"
    (click)="onCharacterClick(character)"
  >
    <div class="gallery-thumbnail">
      <img
        *ngIf="getCurrentImageUrl(character)"
        [src]="getCurrentImageUrl(character)"
        [alt]="character.name"
        (error)="onImageError($event)"
        class="slideshow-image"
        [class.fade-in]="shouldFadeIn(character)"
        [attr.data-image-key]="getImageKey(character)"
      />
      <div
        *ngIf="!getCurrentImageUrl(character)"
        class="thumbnail-placeholder-gallery"
      >
        <i class="icon-user"></i>
      </div>
    </div>
    <div class="gallery-name">{{ character.name }}</div>
  </div>
</div>
