<div class="category-toggle">
  <button
    type="button"
    class="toggle-option"
    [class.active]="selectedValue === ''"
    [class.outlined]="outlinedValue === ''"
    [class.error]="error"
    (click)="onOptionClick('', $event)"
    [title]="outlinedValue === '' && outlinedTooltip ? outlinedTooltip : (emptyLabel === 'All' ? 'Show all categories' : 'No category')"
    >
    {{ emptyLabel }}
  </button>
  @for (option of options; track option.id) {
    <button
      type="button"
      class="toggle-option"
      [class.active]="selectedValue === option.id"
      [class.outlined]="outlinedValue === option.id"
      [class.error]="error"
      [style.--option-color]="option.color || null"
      (click)="onOptionClick(option.id, $event)"
      [title]="getOptionTitle(option)"
      >
      {{ option.name }}
    </button>
  }
</div>
